body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: grey;
    
}
button {
    padding: 10px;
    margin: 10px;
}
h1 {
    display: flex;
    justify-content: center;
    padding-bottom: 10px;
    border-bottom: 1px solid black;
}
.box {
    border: 1px solid black;
    background-color: magenta;
    margin: 20%;
}
#timerDisplay {
    height: 100px;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    background-color: white;
    font-size: 30px;
}
#start {
    background-color: green;
}
#stop {
    background-color: red;
}