html,
body {
  margin: 0;
  padding: 0;
}

/* use viewport-relative units to cover page fully */
body {
  height: 100vh;
  width: 100vw;
}

/* include border and padding in element width and height */
* {
  box-sizing: border-box;
}

button {
    padding: 10px;
    margin: 10px;
}
h1 {
    display: flex;
    justify-content: center;
    padding-bottom: 10px;
    border-bottom: 1px solid black;
}
.box {
    background-color: skyblue;
    height: 100%;
    width: 100%;
    padding: 10px;
    font-size: 20px;
}
#timerDisplay {
    height: 100px;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    background-color: white;
    font-size: 30px;
}
#start {
    background-color: green;
}
#stop {
    background-color: red;
}
#clear {
    background-color: silver;
}